<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .block{
            display:block;
            margin:14px;
            border:3px dotted #b76565;
            padding:5px;
        }
        .block2 {
            display: inline-block;
            margin: 14px;
            border: 3px dotted #b76565;
            padding: 5px;
        }

        #menu li{
            display:inline-block;
            width:100px;
            height:30px;
            border:1px solid #000000;
            text-align: center;
            margin:5px;
            line-height: 30px;
            background-color:#c0a92b
        }
        #menu a {

            text-decoration: none;
            color:black;
        }
        #menu li:hover{
            background-color:#ffd800;
        }
        #menu li:hover a {
            color:#808080;
        }
    </style>


</head>
<body>
    <div class="block" id="menu">
        @*Header*@
        <ul>
            <li>@Html.ActionLink("Anasayfa", "Anasayfa", "Home")</li>
            <li>@Html.ActionLink("Hakkımızda", "Hakkimizda", "Home")</li>
            <li>@Html.ActionLink("İletişim", "Iletisim", "Home")</li>
            <li>@Html.ActionLink("Index", "Index", "Home")</li>
        </ul>

    </div>

    <div class="block">
        <h4>LayoutPage1 E geldiniz <b>3. adım</b></h4>
        @RenderBody()


    </div>

    <div class="block">
        @*Footer*@
        <b>Tüm hakları saklıdır. &copy;</b>

    </div>
</body>
</html>
